.button {
  --button-border-radius: var(--size-1);
  --button-letter-spacing: 0.03em;
}

.button.primary {
  --button-background-color: var(--surface-1);
  --button-color: #fff;
}

.button.secondary {
  --button-background-color: var(--surface-2);
  --button-color: #fff;
}

.button.outlined {
  --button-color: var(--surface-1);
  --button-border-color: currentColor;
}