.button {
  --button-letter-spacing: var(--font-letter-spacing-1);
  --button-border-radius: var(--radius-1);
}

.button.primary {
  --button-background-color: var(--surface-1);
  --button-color: var(--white);
}

.button.secondary {
  --button-background-color: var(--surface-2);
  --button-color: var(--white);
}

.button.outlined {
  --button-color: var(--surface-1);
  --button-border-color: currentColor;
}
