:root {
  --font-sans: sans-serif;
  --font-serif: serif;
  --font-mono: monospace;

  --heading-font-family: var(--font-sans);
  --heading-line-height: 1.1;
  --heading-margin-bottom: 0.5em;

  --paragraph-margin-bottom: 1.5em;
}