:root {
  --font-sans: sans-serif;
  --font-serif: serif;
  --font-mono: monospace;
  --font-size-1: 1rem;
  --font-size-2: 1.1rem;
  --font-size-3: 1.25rem;
  --font-size-4: 1.5rem;
  --font-size-5: 2rem;
  --font-size-6: 2.5rem;
  --font-size-7: 3rem;
  --font-size-8: 3.5rem;
  --font-size-9: 4rem;
  --font-size-10: 4.5rem;
  --font-size-fluid-1: clamp(1rem, 4vw, 2rem);
  --font-size-fluid-2: clamp(2rem, 8vw, 4rem);
  --font-size-fluid-3: clamp(3rem, 12vw, 6rem);
  --font-weight-1: 100;
  --font-weight-2: 200;
  --font-weight-3: 300;
  --font-weight-4: 400;
  --font-weight-5: 500;
  --font-weight-6: 600;
  --font-weight-7: 700;
  --font-weight-8: 800;
  --font-weight-9: 900;
  --font-line-height-1: 1;
  --font-line-height-2: 1.1;
  --font-line-height-3: 1.25;
  --font-line-height-4: 1.375;
  --font-line-height-5: 1.5;
  --font-line-height-6: 1.75;
  --font-line-height-7: 2;
  --font-letter-spacing-0: -.05em;
  --font-letter-spacing-1: .025em;
  --font-letter-spacing-2: .050em;
  --font-letter-spacing-3: .075em;
  --font-letter-spacing-4: .150em;
  --font-letter-spacing-5: .500em;
  --font-letter-spacing-6: .750em;
  --font-letter-spacing-7: 1em;
}