.button {
  --button-padding: 1em 2em;
  --button-border-radius: var(--radius-round);
  --button-text-transform: uppercase;
  --button-font-weight: 700;
  --button-letter-spacing: 0.06em;
}

.button.primary {
  --button-background-color: var(--surface-1);
  --button-color: #000;
}

.button.secondary {
  --button-background-color: var(--surface-2);
  --button-color: #fff;
}

.button.outlined {
  --button-color: #000;
  --button-border-color: currentColor;
}