.button {
  --button-border-radius: var(--size-5);
  --button-text-transform: uppercase;
  --button-font-weight: 700;
}

.button.primary {
  --button-background-color: var(--surface-1);
  --button-color: #000;
}

.button.secondary {
  --button-background-color: var(--surface-2);
  --button-color: #fff;
}

.button.outlined {
  --button-color: #000;
  --button-border-color: currentColor;
}