.heading {
  --heading-font-family: var(--font-sans);
  --heading-line-height: var(--font-line-height-2);
  --heading-margin-bottom: var(--size-3);
  --heading-text-transform: uppercase;
  --heading-font-weight: var(--font-weight-7);
}
