:root {
  --surface-1: var(--party-yellow);
  --surface-2: var(--ninja-red);
  --surface-3: var(--sky-blue);
  --surface-4: var(--bubblegum-pink);
  --surface-5: var(--yellow-light);
  --surface-6: var(--sky-blue-light);
  --surface-7: var(--bubblegum-pink-light);
}