h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  line-height: var(--heading-line-height);
  margin-bottom: var(--heading-margin-bottom);
}

p {
  margin-bottom: var(--paragraph-margin-bottom);
  line-height: var(--paragraph-line-height);
}

.heading-1 {
  font-size: var(--font-size-6);
}

.heading-2 {
  font-size: var(--font-size-5);
}

.heading-3 {
  font-size: var(--font-size-4);
}

.heading-4 {
  font-size: var(--font-size-3);
}

.heading-5 {
  font-size: var(--font-size-2);
}

.heading-6 {
  font-size: var(--font-size-1);
}