:root {
  --party-yellow: #ffd80a;
  --yellow-light: #ffd80a;
  --ninja-red: #ff003b;
  --sky-blue: #a0dcdc;
  --sky-blue-light: #d0f2f2;
  --bubblegum-pink: #feb3c9;
  --bubblegum-pink-light: #feb3c9;
}
