:root {
  --party-yellow: #FFD80A;
  --yellow-light: #FFD80A;
  --ninja-red: #FF003B;
  --sky-blue: #A0DCDC;
  --sky-blue-light: #D0F2F2;
  --bubblegum-pink: #FEB3C9;
  --bubblegum-pink-light: #FEB3C9;
}