body {
  font-size: var(--base-font-size);
  line-height: var(--base-line-height);
  color: var(--base-color);
}

p {
  margin-bottom: var(--paragraph-margin-bottom);
  line-height: var(--paragraph-line-height);
}