:root {
  --base-font-size: 16px;
  --base-line-height: 1.5;

  --heading-font-family: "Arial", sans-serif;

  --blue: #2F41A4;
  --blue-dark: #1A297E;
  --red: #EC837F;
  --beige: #E7E2D1;
    
  --surface1: var(--blue);
  --surface2: var(--blue-dark);
  --surface3: var(--red);
  --surface4: var(--beige);
}