:root {
  --party-yellow: #FFD80A;
  --ninja-red: #FF003B;
  --sky-blue: #A0DCDC;
    
  --surface1: var(--party-yellow);
  --surface2: var(--ninja-red);
  --surface3: var(--sky-blue);
  --surface4: var(--bubblegum-pink);
}